html, body{
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background-color: rgb(226, 227, 247);
}

::-webkit-scrollbar {
	width:10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background:#333;
}

::-webkit-scrollbar-thumb {
	background: #1D60E8;
}

button[type="button"]{
  font-size: 17px;
  color: #fff;
  border-radius: 8px;
  font-weight: 400;
  background: linear-gradient(to right, #0651E8 0%, rgb(8, 1, 98) 100%);
  transition: all 0.3s ease;
}

button[type="button"]:hover{
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to right, rgb(8, 1, 98) 0%,#0651E8 100%);
}

footer .p{
  font-weight: 700;
}