<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="icon" href="../images/nav_footer/icon.png">
  <link rel="stylesheet" href="../css/reset.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/1ace605db6.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" defer></script>

  <script src="../js/cadastro_botoes.js" defer></script>
  <script src="../js/cadastro_display.js" defer></script>
  <script src="../js/cadastro_form.js" defer></script>

  <script src="../../controller/cadastro_endereco.js" defer></script>
  <script src="../../controller/cadastro_validacao.js" defer></script>

  <link rel="stylesheet" href="../css/cadastro_main.css">
  <link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
  <img class="cadastroBack" src="../images/background_cadastro.png">
  <section>
    <div class="ml-4" id="logo">
      <div id="logoHover"></div>
      <div class="logoImg"><img src="../images/nav_footer/logoL.png"></div>
      <div id="logoNome"><img id="george" src=../images/nav_footer/georg.png></div>
      <div class="logoImg" id="logoR"><img src="../images/nav_footer/logoR.png"></div>
    </div>
    <div class="navBar">
      <nav class="navbar navbar-expand-lg mt-2">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="nav-item">
            <a class="nav-link mr-sm-5 my-2 aNav" href="../../index.html#posts">Posts</a>
          </div>
          <div class="nav-item">
            <a class="nav-link mr-sm-5 my-2 aNav" href="../../index.html#blog">Blog</a>
          </div>
          <div class="nav-item">
            <a class="nav-link mr-sm-5 my-2 aNav" href="../../index.html#team">Nossa equipe</a>
          </div>
          <div class="nav-item">
            <button type="button" class="btn btnConf nav-link mr-sm-4 my-2 px-4 aNav"
              onclick="location.href='../html/login.html'">Log-in</button>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <section id="fullScreen">
    <div id="subScreen">
      <div id="subOpt">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
          <div id="setas">
            <a class="btn btn-secondary-outline prev setas esquerda" onclick="prev()"><i
                class="fa fa-lg fa-chevron-left"></i></a>
            <a class="btn btn-secondary-outline next setas direita" onclick="next()"><i
                class="fa fa-lg fa-chevron-right"></i></a>
          </div>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="card card mx-5">
                <div class="card-body">
                  <h1 class="card-title">Junior</h5>
                    <h4 class="card-title"><b>GRATUITO</b></h4>
                    <p class="card-text mt-3"><i class="fas fa-check"> </i> Nossas publicações semanais na sua caixa de
                      e-mail!</p>
                    <p class="card-text"><i class="fas fa-check"> </i> Livre acesso ao nosso arquivo com centenas de
                      outras publicações</p>
                    <p class="card-text"><i class="fas fa-check"> </i> Podcasts mensais com profissionais da area</p>
                    <a onclick="select(1)" href='#target1' id='target1' class="btn btnConf my-3">Quero este plano!</a>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="card card mx-5">
                <div class="card-body">
                  <h1 class="card-title">Pleno</h5>
                    <h4 class="card-title">R$15,00<b>/mês</b></h4>
                    <p class="card-text mt-3"><i class="fas fa-check"> </i> Receba todos nossos posts do mês em forma de
                      revista! </p>
                    <p class="card-text"><i class="fas fa-check"> </i> Acesso aos nossos sorteios semanais de brindes e
                      prêmios!</p>
                    <p class="card-text"><i class="fas fa-check"> </i> Grupo exclusivo de assinantes e agradecimento no
                      final dos episódios no nosso podcast</p>
                    <a onclick="select(2)" href='#target2' id='target2' class="btn btnConf my-3">Quero este plano!</a>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="card mx-5">
                <div class="card-body">
                  <h1 class="card-title">Senior</h5>
                    <h4 class="card-title">R$30,00<b>/mês</b></h4>
                    <p class="card-text"><i class="fas fa-check"> </i> Acesso a nossa area de empregabilidade, com vagas
                      e dicas para ajudar na sua conquista ao emprego dos sonhos!</p>
                    <p class="card-text"><i class="fas fa-check"> </i> Participe do nosso podcast! Envie suas dúvidas e
                      perguntas no final do episódio</p>
                    <p class="card-text"><i class="fas fa-check"> </i> Acesso a mais de <b>200</b> cursos online a
                      qualquer hora e lugar</p>
                    <a onclick="select(3)" href="#target3" id='target3' class="btn btnConf my-3 subBtn">Quero este
                      plano!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="cadastro">
      <div id=insCaixa>
        <h1>Cadastro</h1>
        <h5 class="my-4">Escolha o plano que mais se encaixa com você e venha com a gente!</h5>
        <p>Nossa missão é ajudar a vida do máximo de pessoas possíveis. Ajude nosso sonho a se manter vivo e receba
          diversos benefícios.</p>
        <button type="button" onclick="cadastro()" class="btn px-5 py-3 my-2 btnConf">Cadastre-se</button>
      </div>
      <div id="insCad">
        <div class="container my-5 py-5">
          <h1 class="text-center">Cadastro</h1>

          <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Nome" aria-label="nome"
              aria-describedby="basic-addon1">
            <input type="text" class="form-control ml-3" placeholder="Sobrenome" aria-label="sobrenome"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3 mt-3">
            <input id="email" type="email" class="form-control" placeholder="E-mail" aria-label="email"
              aria-describedby="basic-addon1">
            <input id="text" type="number" class="form-control ml-3" placeholder="RG" aria-label="RG"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <input id="cep" type="text" class="form-control" placeholder="CEP" aria-label="CEP"
              aria-describedby="basic-addon2">
            <input id="endereco" type="text" class="form-control ml-3" placeholder="Endereço" aria-label="Endereço"
              aria-describedby="basic-addon2">
          </div>

          <div class="input-group mb-3">
            <input id="uf" type="text" class="form-control" placeholder="Estado" aria-label="Estado"
              aria-describedby="basic-addon2">
            <input id="cidade" type="text" class="form-control ml-3" placeholder="Cidade" aria-label="Cidade"
              aria-describedby="basic-addon2">
          </div>

          <div class="input-group mb-3">
            <input id="bairro" type="text" class="form-control" placeholder="Bairro" aria-label="Bairro"
              aria-describedby="basic-addon2">
            <input id="bairro" type="text" class="form-control ml-3" placeholder="Rua" aria-label="Rua"
              aria-describedby="basic-addon2">
            <input id="numero" type="number" class="form-control ml-3" placeholder="Número" aria-label="Número"
              aria-describedby="basic-addon2">
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Complemento" aria-label="Complemento"
              aria-describedby="basic-addon2">

            <input id="senha" type="text" class="form-control ml-3" placeholder="Senha" aria-label="Senha"
              aria-describedby="basic-addon1">

            <input id="confirmarSenha" type="text" class="form-control ml-3" placeholder="Confirmar Senha"
              aria-label="Confirmar Senha" aria-describedby="basic-addon1">
          </div>

          <div class="container text-center">
            <button id="btn" type="button" class="btn mr-4 mt-3 btnConf" onclick="cadastrar()">Cadastrar</button>
            <button type="button" class="btn mr-4 mt-3 btnConf"
              onclick="location.href='../../index.html'">Voltar</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>