@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway:wght@500;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

.cadastroBack {
  position: fixed;
  z-index: -99;
  height: 100vh;
  width: 100%;
  top: 0;
  object-fit: cover;
}

#subScreen {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#carouselExampleIndicators {
  width: 395px;
}

.card {
  border-radius: 14px;
}

.card-body a {
  opacity: 1
}

.card-body a:target {
  opacity: 0.5;
}

.card-titulo, h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.card-body p {
  font: 18px 'Raleway', sans-serif;
}

#setas {
  display: flex
}

.fa-lg {
  color: white
}

.esquerda {
  position: absolute;
  z-index: 10;
  top: 200px;
}

.direita {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 200px;
}

.card {
  width: 300px;
  height: 475px
}

#cadastro {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: white;
}

#insCaixa {
  width: 85%;
  line-height: 2;
  padding: 50px 0;
  transition: all 0.4s;
}

#insCad {
  position: absolute;
  width: 85%;
  line-height: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  display: none
}

@media (min-width: 800px) {
  #subScreen {
    margin-top: 0px;
    align-items: center;
  }

  #subOpt {
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100vh;
  }

  #cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: left;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 30px;
  }
}